* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container1, footer, li {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.container1, ol {
  display: flex;
  flex-direction: row;
}

ol {
  gap: 25px;
  list-style: none;
  align-items: center;
}
.container1 {
  justify-content: space-between;
  padding: 15px 200px 75px;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.container2 {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 100px 120px;
}

.placeholder {
  background-color: gray;
  height: 200px;
  width: 450px;
  text-align: center;
  padding: 92px;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;   
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 100;
  min-width: 30%;
  max-width: 50%;
}

.button1 {
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  width: 95px;
  height: 30px;
}

.sub-container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.information-header-text {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cube {
  height: 150px;
  width: 150px;
  border: 3px solid #3882f6;
  border-radius: 12px;
}

.subtext-cubes {
  padding-top: 10px;
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

.cubes, .subtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.container3 {
  padding: 15px 30px 120px;
}

.container4 {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 120px 30px 120px;
}

cite {
  font-size: 36px;
  font-style: light italic;
  color: #1f2937;
  font-weight: 100;
  width: 50%;
}

.citeh5 {
  text-align: end;
  font-size: 24px;
  padding-left: 38%;
}

.container5 {
  background-color: #3882f6;
  border-radius: 8px;
  width: 700px;
  height: 75px;
  display: flex;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.text5 {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 75px;
}

.button2 {
  color: #e5e7eb;
  background-color: #3882f6;
  border-radius: 8px;
  border: #e5e7eb 2px solid;
  width: 100px;
  height: 40px;
  margin: auto;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer {
  font-size: 18px;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.button1,.button2:hover {
  cursor: pointer;
}

.button1:active, .button2:active {
  background-color: #2759ab;
}
